/* Game Results Block */
.basebelles-results {
	box-sizing: border-box;
	padding: 10px;
	background: #fff;
	color: var(--bb-deep-navy);
	border: 1px solid var(--bb-slate-blue);
	font-family: sans-serif;
	max-width: 90%!important;
	margin-inline: auto;
}

.results-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 10px;
}

.results-header .team-summary {
	flex: 1;
}

.results-header .team-name {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2;
}

.results-header .team-record,
.results-header .team-standing {
	font-size: 0.85em;
	color: var(--bb-accent-slate);
}

.results-header .team-logo img {
	width: 60px;
	height: 60px;
	display: block;
	margin: 0 10px;
}

.results-header .team-score {
	font-size: 2.5em;
	font-weight: bold;
	min-width: 50px;
}

.results-header .score-spacer {
	flex: 1;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

.results-table-container {
	overflow-x: auto;
	margin-top: 10px;
}

.results-innings-table {
	width: 95%;
	min-width: 550px; /* Ensure table doesn't squash too much */
	border-collapse: collapse;
	font-size: 0.9em;
}

.results-table-container .results-table-placeholder {
	font-size: 1.2em;
	color: var(--bb-accent-slate);
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	line-height: 1.2;
}

.results-table-container table {
	margin: 5px;
}

.results-innings-table th,
.results-innings-table td {
	border: 1px solid var(--bb-sandstone-cream);
	padding: 2px;
	text-align: center;
}

.results-innings-table th {
	background-color: var(--bb-sandstone-cream);
	color: var(--bb-deep-navy);
	font-weight: bold;
}

.results-innings-table .team-label {
	text-align: left;
	font-weight: bold;
	max-width: 25px;
}

.results-innings-table .stat-cell {
	font-weight: bold;
	background-color: #f9f9f9;
}

.results-header .score-spacer.guards-win {
	color: var(--bb-green);
}

.results-header .score-spacer.oppo-win {
	color: var(--bb-red);
}
