.basebelles-series-results {
	box-sizing: border-box;
	padding: 10px;
	background: #fff;
	color: var(--bb-deep-navy);
	border: 1px solid var(--bb-slate-blue);
	font-family: sans-serif;
	max-width: 75% !important;
	min-width: 200px;
	margin-inline: auto;
}

.series-results {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 10px;
}

.series-date {
	font-size: 0.8em;
	color: var(--bb-accent-slate);
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2;
}

.series-date.placeholder-text {
	margin-top: 10px;
}

.series-results .series-summary {
	flex: 1 1 0;
	min-width: 0;
}

.series-results .team-name {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2;
}

.series-results .team-series-record {
	font-size: 2.5em;
	font-weight: bold;
	min-width: 50px;
}

.series-winner {
	font-size: 2.5em;
	font-weight: bold;
	padding: 0 10px;
}

.series-winner.guards-win {
	color: var(--bb-green);
}

.series-winner.oppo-win {
	color: var(--bb-red);
}

.series-winner.split-win {
	color: var(--bb-accent-slate);
}
